<div class="dashboard-wrapper">
    <div class="container-fluid  dashboard-content">
        <!-- ============================================================== -->
        <!-- pageheader -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="page-header">
                    <h2 class="pageheader-title">Visualizar Pagina</h2>
                    <p class="pageheader-text">Proin placerat ante duiullam scelerisque a velit ac porta, fusce sit
                        amet vestibulum mi. Morbi lobortis pulvinar quam.</p>
                    <div class="page-breadcrumb">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Dashboard</a></li>
                                <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Forms</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Form Validations</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- end pageheader -->
        <!-- ============================================================== -->
        {{>_msg}}

        <!-- ============================================================== -->
        <!-- horizontal form -->
        <!-- ============================================================== -->
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="card">
                <h5 class="card-header text-center">Visualizar Slide-Show</h5>
                <div class="btn-group text-center col-12 mt-3" role="group" aria-label="Basic example">
                    <p class="col-4"></p>
                    <a href="/admin/edit-nav" class=""><button type="button" class="btn btn-success  ">Editar
                            Slide-Show</button></a>
                    <a href="/visAdmin" class="ml-1"><button type="button" class="btn btn-primary  ">Menu Visualizar
                            Paginas</button></a>
                </div>
                <hr>
                <div class="card-body">
                    <section id="home">
                        <!-- Start slides -->
                        <div id="slides" class="cover-slides">
                            <ul class="slides-container">
                                <li class="text-center">
                                    <!-- HEAD -->
                                    <img src="/images/slider-01.jpg" alt="">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <h1 class="m-b-20"><strong>{{slideshow.dataValues.title1_1}} <br>
                                                        {{slideshow.dataValues.title1_2}}</strong></h1>
                                                <p class="m-b-40">{{slideshow.dataValues.text1_1}} <br>
                                                    {{slideshow.dataValues.text1_2}}</p>
                                                <p><a class="btn btn-lg btn-circle btn-outline-new-white"
                                                        href="{{slideshow.dataValues.urlbtn1}}">{{slideshow.dataValues.btn1}}</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="text-center">
                                    <!-- HEAD -->
                                    <img src="/images/slider-02.jpg" alt="">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <h1 class="m-b-20"><strong>{{slideshow.dataValues.title2_1}}<br>
                                                        {{slideshow.dataValues.title2_2}} </strong></h1>
                                                <p class="m-b-40">{{slideshow.dataValues.text2_1}} <br>
                                                    {{slideshow.dataValues.text2_2}}</p>
                                                <p><a class="btn btn-lg btn-circle btn-outline-new-white"
                                                        href="{{slideshow.dataValues.urlbtn2}}">{{slideshow.dataValues.btn2}}</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="text-center">
                                    <!--- HEAD -->
                                    <img src="/images/slider-03.jpg" alt="">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <h1 class="m-b-20"><strong>{{slideshow.dataValues.title3_1}}<br>
                                                        {{slideshow.dataValues.title3_2}}</strong></h1>
                                                <p class="m-b-40">{{slideshow.dataValues.text3_1}} <br>
                                                    {{slideshow.dataValues.text3_2}}</p>
                                                <p><a class="btn btn-lg btn-circle btn-outline-new-white"
                                                        href="{{slideshow.dataValues.urlbtn3}}">{{slideshow.dataValues.btn3}}</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <div class="slides-navigation">
                                <a href="#" class="next"><i class="{{slideshow.dataValues.iconbtnNext}}"></i></a>
                                <a href="#" class="prev"><i class="{{slideshow.dataValues.iconbtnPrev}}"
                                        aria-hidden="true"></i></a>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
    </section>
</div>
</div>
</div>
<!-- ============================================================== -->
<!-- end horizontal form -->
<!-- ============================================================== -->

</div>
</div>