<!-- Start Footer -->
<footer class="footer-area bg-f">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <h3>{{footer.dataValues.title1}}</h3>
                <p>{{footer.dataValues.describe1}}</p>
            </div>
            <div class="col-lg-3 col-md-6">
                <h3>{{footer.dataValues.title2}}</h3>
                <p><span class="text-color">{{footer.dataValues.Hr_funcionamento}}</span>Closed</p>
                <p><span class="text-color">{{footer.dataValues.status_funcionamento}}</span></p>
                <p><span class="text-color">{{footer.dataValues.feriados_funcionamento}}</span> close - open</p>
                <p><span class="text-color">PEGAR HORA REAL E DIZER SE ESTÁ FECHADO OU ABERTO A LOJA: </span> Closed</p>
            </div>
            <div class="col-lg-3 col-md-6">
                <h3>{{footer.dataValues.title3}}</h3>
                <p class="lead">{{footer.dataValues.endereco_completo}}</p>
                <p class="lead"><a href="{{footer.dataValues.urlMaps}}">{{footer.dataValues.googlemapslocation}}</a></p>
                <p><a href="{{footer.dataValues.url_number}}">{{footer.dataValues.number}}</a></p>
                <p><a href="{{footer.dataValues.url_email}}">{{footer.dataValues.email}}</a></p>
            </div>
            <div class="col-lg-3 col-md-6">
                <h3>{{footer.dataValues.title4}}</h3>
                <div class="subscribe_form">
                    <form class="subscribe_form">
                        <input name="EMAIL" id="subs-email" class="form_input" placeholder="{{footer.dataValues.placeholder}}"
                            type="email">
                        <button type="submit" class="submit">{{footer.dataValues.titlebtn}}</button>
                        <div class="clearfix"></div>
                    </form>
                </div>
                <ul class="list-inline f-social">
                    <li class="list-inline-item"><a href="{{footer.dataValues.url_icon1}}"><i class="{{footer.dataValues.icon1}}" aria-hidden="true"></i></a></li>
                    <li class="list-inline-item"><a href="{{footer.dataValues.url_icon2}}"><i class="{{footer.dataValues.icon2}}" aria-hidden="true"></i></a></li>
                    <li class="list-inline-item"><a href="{{footer.dataValues.url_icon3}}"><i class="{{footer.dataValues.icon3}}" aria-hidden="true"></i></a></li>
                    <li class="list-inline-item"><a href="{{footer.dataValues.url_icon4}}"><i class="{{footer.dataValues.icon4}}" aria-hidden="true"></i></a></li>
                    <li class="list-inline-item"><a href="{{footer.dataValues.url_icon5}}"><i class="{{footer.dataValues.icon5}}" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p class="company-name">Todos os Direitos Reservados. &copy; 2020 <a href="#">Site Burguer</a> Criador:
                        
                        <a href="https://html.design/">Isaac e João</a></p>
                </div>
            </div>
        </div>
    </div>

</footer>
<!-- End Footer -->

<a href="#" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>
