<div class="dashboard-wrapper">
    <div class="container-fluid  dashboard-content">
        <!-- ============================================================== -->
        <!-- pageheader -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="page-header">
                    <h2 class="pageheader-title">Formulário Adionar Aperitivos</h2>
                    <p class="pageheader-text">Proin placerat ante duiullam scelerisque a velit ac porta, fusce sit
                        amet vestibulum mi. Morbi lobortis pulvinar quam.</p>
                    <div class="page-breadcrumb">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Dashboard</a></li>
                                <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Forms</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Form Validations</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- end pageheader -->
        <!-- ============================================================== -->
        {{>_msg}}

        <!-- ============================================================== -->
        <!-- horizontal form -->
        <!-- ============================================================== -->
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="card">
                <h5 class="card-header">Cadastro do Produto Aperitivo</h5>
                <div class="card-body">
                    <div class="contact-box">
                        <div class="container">
                            <form action="/visAdmin/cardapios" method="post">
                                <div class="row">
                                    <div class="form-group col-8">
                                        <label for="class" class="text-center">selecione a classe de menu que deseja
                                            Visualizar</label>
                                        <br>
                                        <select name="class" id="class" class="form-control">
                                            <option value="Hamburgue">Hamburguer</option>
                                            <option value="Pizza">Pizza</option>
                                            <option value="Bebidas">Bebidas</option>
                                            <option value="Doces">Doces</option>
                                            <option value="combos">combos</option>
                                            <option value="Promoces">Promoções</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-4 mt-4">
                                        <button class="btn btn-outline-success mr-3">Procurar</button>
                                    </div>
                                </div>
                            </form>

                            {{#if Burger}}
                            <h2>Menu Burger</h2>
                            {{#each Burger}}
                            <form action="/admin/edit-cardapio" method="post">
                                <input type="hidden" name="id" value="{{dataValues.id}}">
                                <h4><strong>Nome: </strong><small>{{dataValues.name}}</small></h4>
                                <h4><strong>Descrição: </strong><small>{{dataValues.desc}}</small></h4>
                                <h4><strong>Valor Gasto de Material: </strong> <small>R$
                                        {{dataValues.valorGasto}}</small>
                                </h4>
                                <h4><strong>Valor Venda: </strong> <small>R$ {{dataValues.valorVenda}}</small></h4>
                                <h4><strong>Lucro: </strong> <small>R$ {{dataValues.lucro}}</small></h4>
                                <div class="row">
                                    <div class="form-group col-6">
                                        <button type="submit" class="btn btn-outline-success col-12">Editar</button>
                                    </div>
                            </form>
                            <div class="form-group col-6">
                                <form action="/addbd/delete-cardapio" method="post">
                                    <input type="hidden" name="id" value="{{dataValues.id}}">
                                    <button type="submit" class="btn btn-outline-danger col-12">Deletar</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <hr>
                    {{/each}}
                    {{/if}}


                    {{#if Pizza}}
                    <h2>Menu Pizzas</h2>
                    {{#each Pizza}}
                    <form action="/admin/edit-cardapio" method="post">
                        <input type="hidden" name="id" value="{{dataValues.id}}">
                        <h4><strong>Nome: </strong><small>{{dataValues.name}}</small></h4>
                        <h4><strong>Descrição: </strong><small>{{dataValues.desc}}</small></h4>
                        <h4><strong>Valor Gasto de Material: </strong> <small>R$ {{dataValues.valorGasto}}</small>
                        </h4>
                        <h4><strong>Valor Venda: </strong> <small>R$ {{dataValues.valorVenda}}</small></h4>
                        <h4><strong>Lucro: </strong> <small>R$ {{dataValues.lucro}}</small></h4>
                        <div class="row">
                                    <div class="form-group col-6">
                                        <button type="submit" class="btn btn-outline-success col-12">Editar</button>
                                    </div>
                            </form>
                            <div class="form-group col-6">
                                <form action="/addbd/delete-cardapio" method="post">
                                    <input type="hidden" name="id" value="{{dataValues.id}}">
                                    <button type="submit" class="btn btn-outline-danger col-12">Deletar</button>
                                </form>
                            </div>
                        </div>
                    <hr>
                    {{/each}}
                    {{/if}}

                    {{#if Bebidas}}
                    <h2>Menu Bebidas</h2>v
                    {{#each Bebidas}}
                    <form action="/admin/edit-cardapio" method="post">
                        <input type="hidden" name="id" value="{{dataValues.id}}">
                        <h4><strong>Nome: </strong><small>{{dataValues.name}}</small></h4>
                        <h4><strong>Descrição: </strong><small>{{dataValues.desc}}</small></h4>
                        <h4><strong>Valor Gasto de Material: </strong> <small>R$ {{dataValues.valorGasto}}</small>
                        </h4>
                        <h4><strong>Valor Venda: </strong> <small>R$ {{dataValues.valorVenda}}</small></h4>
                        <h4><strong>Lucro: </strong> <small>R$ {{dataValues.lucro}}</small></h4>
                        <div class="row">
                                    <div class="form-group col-6">
                                        <button type="submit" class="btn btn-outline-success col-12">Editar</button>
                                    </div>
                            </form>
                            <div class="form-group col-6">
                                <form action="/addbd/delete-cardapio" method="post">
                                    <input type="hidden" name="id" value="{{dataValues.id}}">
                                    <button type="submit" class="btn btn-outline-danger col-12">Deletar</button>
                                </form>
                            </div>
                        </div>
                    <hr>
                    {{/each}}
                    {{/if}}

                    {{#if Sorvete}}
                    <h2>Menu Sorvete</h2>
                    {{#each Sorvete}}
                    <form action="/admin/edit-cardapio" method="post">
                        <h4><strong>Nome: </strong><small>{{dataValues.name}}</small></h4>
                        <h4><strong>Descrição: </strong><small>{{dataValues.desc}}</small></h4>
                        <h4><strong>Valor Gasto de Material: </strong> <small>R$ {{dataValues.valorGasto}}</small>
                        </h4>
                        <h4><strong>Valor Venda: </strong> <small>R$ {{dataValues.valorVenda}}</small></h4>
                        <h4><strong>Lucro: </strong> <small>R$ {{dataValues.lucro}}</small></h4>
                        <div class="row">
                                    <div class="form-group col-6">
                                        <button type="submit" class="btn btn-outline-success col-12">Editar</button>
                                    </div>
                            </form>
                            <div class="form-group col-6">
                                <form action="/addbd/delete-cardapio" method="post">
                                    <input type="hidden" name="id" value="{{dataValues.id}}">
                                    <button type="submit" class="btn btn-outline-danger col-12">Deletar</button>
                                </form>
                            </div>
                        </div>
                        <hr>
                        {{/each}}
                        {{/if}}

                        {{#if Combos}}
                        <h2>Menu Combos</h2>
                        {{#each Combos}}
                        <form action="/admin/edit-cardapio" method="post">
                            <input type="hidden" name="id" value="{{dataValues.id}}">
                            <h4><strong>Nome: </strong><small>{{dataValues.name}}</small></h4>
                            <h4><strong>Descrição: </strong><small>{{dataValues.desc}}</small></h4>
                            <h4><strong>Valor Gasto de Material: </strong> <small>R$ {{dataValues.valorGasto}}</small>
                            </h4>
                            <h4><strong>Valor Venda: </strong> <small>R$ {{dataValues.valorVenda}}</small></h4>
                            <h4><strong>Lucro: </strong> <small>R$ {{dataValues.lucro}}</small></h4>
                            <div class="row">
                                    <div class="form-group col-6">
                                        <button type="submit" class="btn btn-outline-success col-12">Editar</button>
                                    </div>
                            </form>
                            <div class="form-group col-6">
                                <form action="/addbd/delete-cardapio" method="post">
                                    <input type="hidden" name="id" value="{{dataValues.id}}">
                                    <button type="submit" class="btn btn-outline-danger col-12">Deletar</button>
                                </form>
                            </div>
                        </div>
                        <hr>
                        {{/each}}
                        {{/if}}

                        {{#if Promocoes}}
                        <h2>Menu Promocoes</h2>
                        {{#each Promoces}}
                        <form action="" method="post">
                            <input type="hidden" name="id" value="{{dataValues.id}}">
                            <h4><strong>Nome: </strong><small>{{dataValues.name}}</small></h4>
                            <h4><strong>Descrição: </strong><small>{{dataValues.desc}}</small></h4>
                            <h4><strong>Valor Gasto de Material: </strong> <small>R$ {{dataValues.valorGasto}}</small>
                            </h4>
                            <h4><strong>Valor Venda: </strong> <small>R$ {{dataValues.valorVenda}}</small></h4>
                            <h4><strong>Lucro: </strong> <small>R$ {{dataValues.lucro}}</small></h4>
                            <div class="row">
                                    <div class="form-group col-6">
                                        <button type="submit" class="btn btn-outline-success col-12">Editar</button>
                                    </div>
                            </form>
                            <div class="form-group col-6">
                                <form action="/addbd/delete-cardapio" method="post">
                                    <input type="hidden" name="id" value="{{dataValues.id}}">
                                    <button type="submit" class="btn btn-outline-danger col-12">Deletar</button>
                                </form>
                            </div>
                        </div>
                        <hr>
                        {{/each}}
                        {{/if}}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- end horizontal form -->
<!-- ============================================================== -->

</div>
</div>