<div class="dashboard-wrapper">
    <div class="container-fluid  dashboard-content">
        <!-- ============================================================== -->
        <!-- pageheader -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="page-header">
                    <h2 class="pageheader-title">Formulário Adionar Aperitivos</h2>
                    <p class="pageheader-text">Proin placerat ante duiullam scelerisque a velit ac porta, fusce sit
                        amet vestibulum mi. Morbi lobortis pulvinar quam.</p>
                    <div class="page-breadcrumb">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Dashboard</a></li>
                                <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Forms</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Form Validations</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- end pageheader -->
        <!-- ============================================================== -->
        {{>_msg}}

        <!-- ============================================================== -->
        <!-- horizontal form -->
        <!-- ============================================================== -->
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="card">
                <h5 class="card-header">Cadastro do Produto Aperitivo</h5>
                <div class="card-body">
                    {{>_navPrincipal}}
                    <!-- primeira form -->
                    <h3>Primeira Navegação</h3>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <h5><strong> Primeira Navegação: </strong>{{nav.dataValues.nav1}}</h5>
                        </div>
                        <div class="form-group col-md-4">
                            <h5><strong> Url para Primeira Navegação: </strong>{{nav.dataValues.url_nav1}}</h5>
                        </div>
                    </div>
                    <!-- segunda form -->
                    <h3>Segunda Navegação</h3>
                    <div class="form-row mt-3">
                        <div class="form-group col-md-4">
                            <h5><strong> Segunda Navegação: </strong>{{nav.dataValues.nav1}}</h5>
                        </div>
                        <div class="form-group col-md-4">
                            <h5><strong> Url para Segunda Navegação: </strong>{{nav.dataValues.url_nav2}}</h5>
                        </div>
                    </div>
                    <!-- terceira form -->
                    <h3>Terceira Navegação</h3>
                    <div class="form-row mt-3">
                        <div class="form-group col-md-4">
                            <h5><strong> Titulo Terceiras Navegações: </strong>{{nav.dataValues.nav3}}</h5>
                        </div>
                        <div class="form-group col-md-4">
                            <h5><strong> Titulo Terceira-um Navegação: </strong>{{nav.dataValues.subNav3_1}}</h5>
                        </div>
                        <div class="form-group col-md-4">
                            <h5><strong> Url da Terceira-um Navegação: </strong>{{nav.dataValues.url_subNav3_1}}
                            </h5>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <h5><strong> Titulo Terceira-dois Navegação: </strong>{{nav.dataValues.subNav3_2}}</h5>
                        </div>
                        <div class="form-group col-md-4">
                            <h5><strong> Url da Terceira-dois Navegação: </strong>{{nav.dataValues.url_subNav3_2}}
                            </h5>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <h5><strong> Titulo Terceira-dois Navegação: </strong>{{nav.dataValues.subNav3_3}}</h5>
                        </div>
                        <div class="form-group col-md-4">
                            <h5><strong> Url da Terceira-dois Navegação: </strong>{{nav.dataValues.url_subNav3_3}}
                            </h5>
                        </div>
                    </div>
                    <!-- Quarta form -->
                    <h3>Quarta Navegação</h3>
                    <div class="form-row mt-3">
                        <div class="form-group col-md-4">
                            <h5><strong> Quarta Navegação: </strong>{{nav.dataValues.nav4}}</h5>
                        </div>
                        <div class="form-group col-md-4">
                            <h5><strong> Quarta-um Navegação: </strong>{{nav.dataValues.nav4_1}}</h5>
                        </div>
                        <div class="form-group col-md-4">
                            <h5><strong> Url da Quarta-um Navegação: </strong>{{nav.dataValues.url_subNav4_1}}</h5>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <h5><strong> Quarta-dois Navegação: </strong>{{nav.dataValues.nav4_2}}</h5>
                        </div>
                        <div class="form-group col-md-4">
                            <h5><strong> Url da Quarta-dois Navegação: </strong>{{nav.dataValues.url_subNav4_2}}
                            </h5>
                        </div>
                    </div>
                    <!-- Quinta form -->
                    <h3>Quinta Navegação</h3>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <h5><strong> Quinta Navegação: </strong>{{nav.dataValues.nav4_2}}</h5>
                        </div>
                        <div class="form-group col-md-4">
                            <h5><strong> Url da Quinta Navegação: </strong>{{nav.dataValues.url_subNav4_2}}</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- end horizontal form -->
        <!-- ============================================================== -->
    </div>
</div>