<div class="dashboard-wrapper">
    <div class="container-fluid  dashboard-content">
        <!-- ============================================================== -->
        <!-- pageheader -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="page-header">
                    <h2 class="pageheader-title">Formulário Adionar Aperitivos</h2>
                    <p class="pageheader-text">Proin placerat ante duiullam scelerisque a velit ac porta, fusce sit
                        amet vestibulum mi. Morbi lobortis pulvinar quam.</p>
                    <div class="page-breadcrumb">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Dashboard</a></li>
                                <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Forms</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Form Validations</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- end pageheader -->
        <!-- ============================================================== -->
        {{>_msg}}

        <!-- ============================================================== -->
        <!-- horizontal form -->
        <!-- ============================================================== -->
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
<<<<<<< HEAD

            <div class="card">
                <h5 class="card-header">Cadastro do Produto Aperitivo</h5>
                <div class="card-body">
                    <form action="" method="POST">
                        <input name="id" type="hidden" value="{{slideshow.dataValues.id}}">
                        <h4>Carregamento das Imagens</h2>
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label><span class="text-danger">* </span>Imagem já carregadas</label>
                                    <div class="custom-file">
                                        <select name="" id="" class="form form-control">
                                            <option value="{{slideshow.dataValues.img1}}">{{slideshow.dataValues.img1}}
                                            </option>
                                            <option value="{{slideshow.dataValues.img2}}">{{slideshow.dataValues.img2}}
                                            </option>
                                            <option value="{{slideshow.dataValues.img3}}">{{slideshow.dataValues.img3}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group col-md-4">
                                    <label><span class="text-danger">* </span>Nome da primeira Imagem e sua
                                        extensão</label>
                                    <input name="title" type="text" class="form-control" id="title"
                                        placeholder="Digite o nome do arquivo e sua extensão ex: img.png"
                                        value="{{slideshow.dataValues.title1_1}}" required>
                                </div>
                                <div class="form-group col-md-4">
                                    <label><span class="text-danger">* </span>Carregue a Imagem</label>
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="customFile" border="1">
                                        <label class="custom-file-label" for="customFile">Carregar Arquivo</label>
                                    </div>
=======
            <form action="/aperitivos/cadastrar" method="post">
                <div class="card">
                    <h5 class="card-header">Cadastro do Produto Aperitivo</h5>
                    <div class="card-body">
                        <form id="form" data-parsley-validate="" novalidate="">
                            <div class="form-group">
                                <label for="nomeAperitivo">Nome do Aperitivo</label>
                                <input type="text" name="nomeAperitivo" id="nomeAperitivo" class="form-control"
                                    placeholder="Digite o nome do Aperitivo">
                            </div>
                            <div class="form-group">
                                <label for="descAperitivo">Descrição do Aperitivo</label>
                                <textarea name="descAperitivo" id="descAperitivo" cols="30" rows="10"
                                    class="form-control" placeholder="Digite a descrição deste aperitivo"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="valorAperitivo">Valor Aperitivo</label>
                                <input type="text" name="valorAperitivo" id="valorAperitivo" class="form-control"
                                    placeholder="Digite o valor do Aperitivo">
                            </div>
                            <div class="form-group">
                                <label for="gastoAperitivo">Valor Gasto Aperitivo</label>
                                <input type="text" name="gastoAperitivo" id="gastoAperitivo" class="form-control"
                                    placeholder="Digite o valor gasto do Aperitivo">
                            </div>
                            <hr>
                            <div class="row pt-2 pt-sm-5 mt-1">
                                <div class="col-sm-6 pb-2 pb-sm-4 pb-lg-0 pr-0">
                                    <label class="be-checkbox custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input"><span
                                            class="custom-control-label">Remember me</span>
                                    </label>
                                </div>
                                <div class="col-sm-6 pl-0">
                                    <p class="text-right">
                                        <button type="submit" class="btn btn-space btn-primary">Submit</button>
                                        <button class="btn btn-space btn-secondary">Cancel</button>
                                    </p>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
        </div>
        <!-- ============================================================== -->
        <!-- end horizontal form -->
        <!-- ============================================================== -->
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <form action="/aperitivos/cadastrar_opc" method="post">
                <div class="card">
                    <h5 class="card-header">Opções Aperitivos</h5>
                    <div class="card-body">
                        <form id="form" data-parsley-validate="" novalidate="">
                            <div class="form-group">
                                <label for="nome">Nome da opção Aperitivo</label>
                                <input type="text" name="nome" id="nome" class="form-control"
                                    placeholder="Digite o nome da opção do Aperitivo">
                            </div>
                            <div class="form-group">
                                <label for="valor">Valor da Opção Aperitivo</label>
                                <input type="text" name="valor" id="valor" class="form-control"
                                    placeholder="Digite o valor da opção do Aperitivo">
                            </div>
                            <div class="form-group">
                                <label for="gasto">Valor da Opção Gasto Aperitivo</label>
                                <input type="text" name="gasto" id="gasto" class="form-control"
                                    placeholder="Digite o valor gasto da opção do Aperitivo">
                            </div>
                            <hr>
                            <div class="row pt-2 pt-sm-5 mt-1">
                                <div class="col-sm-6 pb-2 pb-sm-4 pb-lg-0 pr-0">
                                    <label class="be-checkbox custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input"><span
                                            class="custom-control-label">Remember me</span>
                                    </label>
                                </div>
                                <div class="col-sm-6 pl-0">
                                    <p class="text-right">
                                        <button type="submit" class="btn btn-space btn-primary">Submit</button>
                                        <button class="btn btn-space btn-secondary">Cancel</button>
                                    </p>
>>>>>>> 3c29f080cb219a36c93a59fca8623cfa5b0e78f2
                                </div>
                                <button class="btn btn-info">Enviar</button>
                            </div>
<<<<<<< HEAD
                    </form>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- end horizontal form -->
        <!-- ============================================================== -->
    </div>

</div>
=======
                        </form>
                    </div>
                </div>
        </div>
    </div>
>>>>>>> 3c29f080cb219a36c93a59fca8623cfa5b0e78f2
