<div class="dashboard-wrapper">
    <div class="container-fluid  dashboard-content">
        <!-- ============================================================== -->
        <!-- pageheader -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="page-header">
                    <h2 class="pageheader-title">Formulário Adionar Aperitivos</h2>
                    <p class="pageheader-text">Proin placerat ante duiullam scelerisque a velit ac porta, fusce sit
                        amet vestibulum mi. Morbi lobortis pulvinar quam.</p>
                    <div class="page-breadcrumb">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Dashboard</a></li>
                                <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Forms</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Form Validations</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- end pageheader -->
        <!-- ============================================================== -->
        {{>_msg}}

        <!-- ============================================================== -->
        <!-- horizontal form -->
        <!-- ============================================================== -->
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">

            <div class="card">
                <h5 class="card-header">Cadastro do Produto Aperitivo</h5>
                <div class="card-body">
                    <form action="/addbd/edit-menu" method="post">
                        <input type="hidden" name="id" value="{{menu.dataValues.id}}">
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label><span class="text-danger">* </span>Nome</label>
                                <input name="name" type="text" class="form-control" id="title"
                                    placeholder="Digite o Nome do Aperitivo a ser Cadastrado"
                                    value="{{menu.dataValues.name}}" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label><span class="text-danger">* </span>Descrição</label>
                                <textarea name="desc" class="form-control" id="desc" cols="30" rows="10" required
                                    placeholder="Digite a descrição principal">{{menu.dataValues.desc}}</textarea>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label><span class="text-danger">* </span>Valor para Produzir</label>
                                <input name="valorGasto" type="text" class="form-control" id="tabela1"
                                    placeholder="Digite o valor gasto para produzir este produto"
                                    value="{{menu.dataValues.valorGasto}}" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label><span class="text-danger">* </span>Valor para Venda</label>
                                <input name="valorVenda" type="text" class="form-control" id="title"
                                    placeholder="Digite o Nome do Aperitivo a ser Cadastrado"
                                    value="{{menu.dataValues.valorVenda}}" required>
                            </div>
                        </div>

                        <p class="mt-4">
                            <span class="text-danger">* </span>Todos os campos são obrigatórios
                        </p>
                        <button type="submit" class="btn btn-warning">Salvar</button>
                    </form>

                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- end horizontal form -->
        <!-- ============================================================== -->
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">

            <div class="card">
                <h5 class="card-header">Opções Aperitivos</h5>
                <div class="card-body">

                </div>
            </div>
        </div>
    </div>