<section id="dashboard">
    <div class="wrapper ">
        <div class="sidebar" data-color="purple" data-background-color="white" data-image="../assets/img/sidebar-1.jpg">        
            <div class="content p-1">
                <div class="list-group-item">
                    <div class="d-flex">
                        <div class="mr-auto p-2">
                            <h2 class="display-4 titulo">Editar History Pagina Home</h2>
                        </div>
                        <div class="p-2">
                            <span class="d-none d-md-block">
                                <a href="/visAdmin/vis-history" class="btn btn-outline-primary btn-sm">Visualizar</a>
                            </span>
                            <div class="dropdown d-block d-md-none">
                                <button class="btn btn-primary dropdown-toggle btn-sm" type="button" id="acoesListar"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Ações
                                </button>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="acoesListar">
                                    <a class="dropdown-item" href="/visAdmin/vis-history">Visualizar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <!-- ============================ Segundo Form ========================================= -->
                    <h4 class="mt-5">Formulário para Editar História da Empresa</h4>
                    <form action="/addBd/history" method="post">
                        <input name="id" type="hidden" value="{{slideshow.dataValues.id}}">
                        <h4 class="mt-5">Carregamento das Imagens</h2>
                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <label><span class="text-danger">* </span>Imagem já carregadas</label>
                                    <div class="custom-file">
                                        <select name="" id="" class="form form-control">
                                            <option value="null">Selecione uma Imagem</option>
                                            {{#each paths}}
                                            <option value="{{this}}">{{this}}</option>
                                            {{/each}}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label><span class="text-danger">* </span>Titulo(parte-um)</label>
                                    <input name="title1" type="text" class="form-control" id="title1"
                                        placeholder="Digite o nome da navegação" value="{{hisHome.dataValues.title1}}"
                                        required>
                                </div>
                                <div class="form-group col-md-4">
                                    <label><span class="text-danger">* </span>Titulo(parte-dois)</label>
                                    <input name="title2" type="text" class="form-control" id="title2"
                                        placeholder="Digite o nome da navegação" value="{{hisHome.dataValues.title2}}"
                                        required>
                                </div>
                                <div class="form-group col-md-4">
                                    <label><span class="text-danger">* </span>Subtitulo</label>
                                    <input name="subtitle" type="text" class="form-control" id="subtitle"
                                        placeholder="Digite o nome da navegação" value="{{hisHome.dataValues.subtitle}}"
                                        required>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label><span class="text-danger">* </span>Primeiro Paragrafo</label>
                                    <textarea name="paragraph1" id="paragraph1" cols="30" rows="10" class="form-control"
                                        placeholder="Digite seu primeiro paragrafo">{{hisHome.dataValues.paragraph1}}</textarea>
                                </div>
                                <div class="form-group col-md-6">
                                    <label><span class="text-danger">* </span>Segundo Paragrafo</label>
                                    <textarea name="paragraph2" id="paragraph2" cols="30" rows="10" class="form-control"
                                        placeholder="Digite seu Segundo paragrafo">{{hisHome.dataValues.paragraph2}}</textarea>
                                </div>
                            </div>
                            <h4 class="mt-5">Formulário para Editar Botões</h4>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label><span class="text-danger">* </span>Titulo do Botão</label>
                                    <input name="btnTitle" type="text" class="form-control" id="btnTitle"
                                        placeholder="Digite o titulo do botão" value="{{hisHome.dataValues.btnTitle}}"
                                        required>
                                </div>
                                <div class="form-group col-md-6">
                                    <label><span class="text-danger">* </span>URL do Botão</label>
                                    <input name="url_btn" type="text" class="form-control" id="url_btn"
                                        placeholder="Digite a URL do botão" value="{{hisHome.dataValues.url_btn}}"
                                        required>
                                </div>
                            </div>
                            <h4 class=" mt-5">Visão da Empresa</h4>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label><span class="text-danger">* </span>Frase</label>
                                    <input name="vision_mission" type="text" class="form-control" id="vision_mission"
                                        placeholder="Digite a Frase" value="{{hisHome.dataValues.vision_mission}}"
                                        required>
                                </div>
                                <div class="form-group col-md-6">
                                    <label><span class="text-danger">* </span>Autor</label>
                                    <input name="author" type="text" class="form-control" id="author"
                                        placeholder="Digite a Autor" value="{{hisHome.dataValues.author}}" required>
                                </div>
                            </div>
                            <p class="mt-4">
                                <span class="text-danger">* </span>Todos os campos são obrigatórios
                            </p>
                            <button type="submit" class="btn btn-warning">Salvar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>