<div class="dashboard-wrapper">
        <div class="container-fluid  dashboard-content">
            <!-- ============================================================== -->
            <!-- pageheader -->
            <!-- ============================================================== -->
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="page-header">
                        <h2 class="pageheader-title">Formulário Adionar Aperitivos</h2>
                        <p class="pageheader-text">Proin placerat ante duiullam scelerisque a velit ac porta, fusce sit
                            amet vestibulum mi. Morbi lobortis pulvinar quam.</p>
                        <div class="page-breadcrumb">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Dashboard</a></li>
                                    <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Forms</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Form Validations</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- end pageheader -->
            <!-- ============================================================== -->
            {{>_msg}}

                    <!-- ============================================================== -->
                    <!-- horizontal form -->
                    <!-- ============================================================== -->
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        
                            <div class="card">
                                <h5 class="card-header">Cadastro do Produto Aperitivo</h5>
                                <div class="card-body">
                                    <form action="/addbd/headernav" method="POST">
                        <input name="_id" type="hidden" value="{{nav.dataValues.id}}">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label><span class="text-danger">* </span>Nome da Img logotipo . extensão</label>
                                <input name="logotipo" type="text" class="form-control" id="logotipo"
                                    placeholder="Digite o nome do arquivo e sua extensão ex: img.png"
                                    value="{{nav.dataValues.logotipo}}" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label><span class="text-danger">* </span>Carregue o Logotipo</label>
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="customFile" border="1">
                                    <label class="custom-file-label" for="customFile">Carregar Arquivo</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-2">
                                <label><span class="text-danger">* </span>1ªNavegação</label>
                                <input name="nav1" type="text" class="form-control" id="nav1"
                                    placeholder="Digite o nome da navegação" value="{{nav.dataValues.nav1}}" required>
                            </div>
                            <div class="form-group col-md-2">
                                <label><span class="text-danger">* </span>2ªNagação</label>
                                <input name="nav2" type="text" class="form-control" id="nav2"
                                    placeholder="Digite o nome da navegação" value="{{nav.dataValues.nav2}}" required>
                            </div>
                            <div class="form-group col-md-2">
                                <label><span class="text-danger">* </span>Titulo da 3ºNagação</label>
                                <input name="nav3" type="text" class="form-control" id="nav3"
                                    placeholder="Digite o nome da navegação" value="{{nav.dataValues.nav3}}" required>
                            </div>
                            <div class="form-group col-md-2">
                                <label><span class="text-danger">* </span>3-1ªNavegação</label>
                                <input name="subNav3_1" type="text" class="form-control" id="subNav3_1"
                                    placeholder="Digite o nome da navegação" value="{{nav.dataValues.subNav3_1}}"
                                    required>
                            </div>
                            <div class="form-group col-md-2">
                                <label><span class="text-danger">* </span>3-2ªNavegação</label>
                                <input name="subNav3_2" type="text" class="form-control" id="subNav3_2"
                                    placeholder="Digite o nome da navegação" value="{{nav.dataValues.subNav3_2}}"
                                    required>
                            </div>
                            <div class="form-group col-md-2">
                                <label><span class="text-danger">* </span>3-2ªNavegação</label>
                                <input name="subNav3_3" type="text" class="form-control" id="subNav3_3"
                                    placeholder="Digite o nome da navegação" value="{{nav.dataValues.subNav3_3}}"
                                    required>
                            </div>
                        </div>
                        <div class="form-row mt-4">
                            <div class="form-group col-md-2">
                                <label><span class="text-danger">* </span>4ºNagação</label>
                                <input name="nav4" type="text" class="form-control" id="nav4"
                                    placeholder="Digite o nome da navegação" value="{{nav.dataValues.nav4}}" required>
                            </div>
                            <div class="form-group col-md-2">
                                <label><span class="text-danger">* </span>4_1ºNagação</label>
                                <input name="sub4_1" type="text" class="form-control" id="sub4_1"
                                    placeholder="Digite o nome da navegação" value="{{nav.dataValues.nav4_1}}"
                                    required>
                            </div>
                            <div class="form-group col-md-2">
                                <label><span class="text-danger">* </span>4_2ºNagação</label>
                                <input name="nav4_2" type="text" class="form-control" id="nav4_2"
                                    placeholder="Digite o nome da navegação" value="{{nav.dataValues.nav4_2}}"
                                    required>
                            </div>
                            <div class="form-group col-md-2">
                                <label><span class="text-danger">* </span>5ºNagação</label>
                                <input name="nav5" type="text" class="form-control" id="nav5"
                                    placeholder="Digite o nome da navegação" value="{{nav.dataValues.nav5}}" required>
                            </div>
                        </div>
<!-- =====================================Session Links===========================================  -->

                        <div class="form-row">
                            <div class="form-group col-md-2">
                                <label><span class="text-danger">* </span>Link 1ªNavegação</label>
                                <input name="url_nav1" type="text" class="form-control" id="url_nav1"
                                    placeholder="Digite o nome da navegação" value="{{nav.dataValues.url_nav1}}" required>
                            </div>
                            <div class="form-group col-md-2">
                                <label><span class="text-danger">* </span>Link 2ªNagação</label>
                                <input name="url_nav2" type="text" class="form-control" id="url_nav2"
                                    placeholder="Digite o nome da navegação" value="{{nav.dataValues.url_nav2}}" required>
                            </div>
                            <div class="form-group col-md-2">
                                <label><span class="text-danger">* </span>Link 3-1ªNavegação</label>
                                <input name="url_subNav3_1" type="text" class="form-control" id="url_subNav3_1"
                                    placeholder="Digite o nome da navegação" value="{{nav.dataValues.url_subNav3_1}}"
                                    required>
                            </div>
                            <div class="form-group col-md-2">
                                <label><span class="text-danger">* </span>Link 3-2ªNavegação</label>
                                <input name="url_subNav3_2" type="text" class="form-control" id="url_subNav3_2"
                                    placeholder="Digite o nome da navegação" value="{{nav.dataValues.url_subNav3_2}}"
                                    required>
                            </div>
                            <div class="form-group col-md-2">
                                <label><span class="text-danger">* </span>Link 3-2ªNavegação</label>
                                <input name="url_subNav3_3" type="text" class="form-control" id="url_subNav3_3"
                                    placeholder="Digite o nome da navegação" value="{{nav.dataValues.url_subNav3_3}}"
                                    required>
                            </div>
                        </div>
                        <div class="form-row mt-4">
                            <div class="form-group col-md-4">
                                <label><span class="text-danger">* </span>Link 4-1ºNagação</label>
                                <input name="url_subNav4_1" type="text" class="form-control" id="url_subNav4_1"
                                    placeholder="Digite o nome da navegação" value="{{nav.dataValues.url_subNav4_1}}" required>
                            </div>
                            <div class="form-group col-md-4">
                                <label><span class="text-danger">* </span>Link 4-2ºNagação</label>
                                <input name="url_subNav4_2" type="text" class="form-control" id="url_subNav4_2"
                                    placeholder="Digite o nome da navegação" value="{{nav.dataValues.url_subNav4_2}}" required>
                            </div>
                            <div class="form-group col-md-4">
                                <label><span class="text-danger">* </span>Link 5ºNagação</label>
                                <input name="urlNav5" type="text" class="form-control" id="urlNav5"
                                    placeholder="Digite o nome da navegação" value="{{nav.dataValues.urlNav5}}" required>
                            </div>
                        </div>
                        <p class="mt-4">
                            <span class="text-danger">* </span>Todos os campos são obrigatórios
                        </p>
                        <button type="submit" class="btn btn-warning">Salvar</button>
                    </form>                                    
                                </div>
                            </div>
                    </div>
                    <!-- ============================================================== -->
                    <!-- end horizontal form -->
                    <!-- ============================================================== -->
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        
                            <div class="card">
                                <h5 class="card-header">Opções Aperitivos</h5>
                                <div class="card-body">
                                    
                                </div>
                            </div>
                    </div>
                </div>