<div class="dashboard-wrapper">
    <div class="container-fluid  dashboard-content">
        <!-- ============================================================== -->
        <!-- pageheader -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="page-header">
                    <h2 class="pageheader-title">Formulário Adionar Aperitivos</h2>
                    <p class="pageheader-text">Proin placerat ante duiullam scelerisque a velit ac porta, fusce sit
                        amet vestibulum mi. Morbi lobortis pulvinar quam.</p>
                    <div class="page-breadcrumb">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Dashboard</a></li>
                                <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Forms</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Form Validations</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- end pageheader -->
        <!-- ============================================================== -->
        {{>_msg}}

        <!-- ============================================================== -->
        <!-- horizontal form -->
        <!-- ============================================================== -->
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="card">
                <h5 class="card-header">Selecione a Classe do Aperitivo</h5>
                <div class="card-body">
                    <form id="form" action="/montarPedido" method="POST">
                        <div class="row">
                            <div class="form-group col-12">
                                <label for="class">Tipos Aperitivo</label>
                                <select name="class" id="class" class="form-control">
                                    <option value="Hamburgue">Hamburge</option>
                                    <option value="Pizza">Pizza</option>
                                    <option value="Petisco">Petisco</option>
                                    <option value="Bebidas">Bebidas</option>
                                    <option value="Doces">Doces</option>
                                    <option value="Sorvetes">Sorvetes</option>
                                </select>
                            </div>
                            <div class="form-group col-12">
                                <button class="btn btn-outline-success col-8"
                                    style="margin-left:20%;">Pesquisar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- ============================================================== -->
        <!-- end pageheader -->
        <!-- ============================================================== -->
        <div class="card-deck">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Clientes</h5>
                    <form action="/montarPedido/pesquisar" method="post">
                        <div class="row">
                            <div class="form-group col-12">
                                <label for="">Pesquisar Usuario pelo Telefone</label>
                                <input type="text" name="telefone" class="form-control mt-3">
                            </div>
                            <div class="form-group col-12">
                                <button class="btn btn-success">Pesquisar</button>
                            </div>
                        </div>
                    </form>
                    <hr>
                    <div class="row">
                        {{DataClients}}
                        {{#with DataClients}}
                            {{this.dataValues}}
                        {{/with}}
                        <h4 class="card-header col-12">Endereço Cliente</h4>
                        <div class="form-group col-12 mt-2">
                            <label for="">Bairro</label>
                            <input type="text" class="form-control col-12" placeholder="Digite o Bairro" value="{{bairro}}">
                        </div>
                        <div class="form-group col-12 mt-2">
                            <label for="">Rua</label>
                            <input type="text" class="form-control col-12" placeholder="Digite o nome da Rua" value="{{rua}}">
                        </div>
                        <div class="form-group col-12 mt-2">
                            <label for="">Numero Residência</label>
                            <input type="text" class="form-control col-12" placeholder="Digite o Numero da Resiência" value="{{residencia}}">
                        </div>
                        <div class="row mt-2 ml-2">
                            <div class="form-group col-6">
                                <button class="btn btn-outline-primary col-12">Confirma</button>
                            </div>
                            <div class="form-group col-6">
                                <button class="btn btn-outline-danger" type="reset">Outro End.</button>
                            </div>
                        </div>
                    </div>

                    <!-- ============================================================== -->
                    <!-- end pag a esquerda -->
                    <!-- ============================================================== -->
                    <hr>
                    <!-- ============================================================== -->
                    <!-- COMEÇO Pagina no centro cardapio(MENU) -->
                    <!-- ============================================================== -->
                    <form action="/montarPedido/cadastrar" method="post">
                        <div class="row col-12">
                            <h4 class="card-header col-12">Cadastrar Cliente</h4>
                            <div class="form-group col-12 mt-2">
                                <label for="">Nome</label>
                                <input type="text" name="nome" class="form-control col-12"
                                    placeholder="Digite o nome do cliente">
                            </div>
                            <div class="form-group col-12 mt-2">
                                <label for="">Telefone</label>
                                <input type="text" name="telefone" class="form-control col-12"
                                    placeholder="Digite o nome do cliente">
                            </div>
                            <div class="form-group col-12 mt-2">
                                <label for="">Bairro</label>
                                <input type="text" name="bairro" class="form-control col-12"
                                    placeholder="Digite o nome do cliente">
                            </div>
                            <div class="form-group col-12 mt-2">
                                <label for="">Rua</label>
                                <input type="text" name="rua" class="form-control col-12"
                                    placeholder="Digite o nome do cliente">
                            </div>
                            <div class="form-group col-12 mt-2">
                                <label for="">Numero da Residência</label>
                                <input type="text" name="residencia" class="form-control col-12"
                                    placeholder="Digite o nome do cliente">
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="form-group">
                                <button class="btn btn-outline-success">Cadastrar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Aperitivos</h5>
                    <div class="row">
                        <div class="form-group">
                            <p>Pesquise primeiro o Aperitivo desejado logo acima</p>
                            <br>
                            {{#each menu}}
                            <a href="" class="mt-1">
                                <div class="container" class="col-10"
                                    style="border: 1px solid rgba(128, 128, 128, 0.678);">
                                    <div class="row">
                                        <div class="form-group col-7">
                                            <h5 class="">Nome: <small>{{dataValues.name}}</small>
                                        </div>
                                        <div class="form-group col-5">
                                            <h5 class="">Valor: <small>R${{dataValues.valorVenda}}</small></h5>
                                        </div>
                                        <div class="form-group col-12">
                                            <h5 class="">Descrição: <small>{{dataValues.desc}}</small></h5>
                                        </div>
                                    </div>
                                </div>
                            </a>

                            {{/each}}

                        </div>

                    </div>
                </div>
            </div>

            <!-- ============================================================== -->
            <!-- FIM Pagina no centro cardapio(MENU) -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- começo pag direita carrinho de compras -->
            <!-- ============================================================== -->


            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Carrinho de Compras</h5>
                    <hr>
                    <div class="form-group">
                        <label for="" class="ml-3">Entrega</label>
                        <input type="checkbox" id="classEntrega" name="classEntrega" class="mr-5" checked>
                        <label for="" class="ml-5">Retirar no Local</label>
                        <input type="checkbox" id="classEntrega" name="classEntrega">
                    </div>
                    <div class="form-group">
                        <label for="" class="ml-3">Bairro para Entrega</label>
                        <select name="" id="" class="form form-control col-10 ml-4">
                            <option value="">Ano bom</option>
                        </select>
                        <hr>
                    </div>
                    <div class="form-group">
                        <label for="" class="ml-2">Cupom: </label>
                        <input type="text" placeholder="Adione o cumpom de Desconto"
                            class="form form-control col-8 ml-5">
                        <h3 class="text-center mt-4">Total: R$100,00</h3>
                        <hr>
                    </div>
                    <button class="btn btn-danger col-8 ml-5">Finalizar</button>
                    <br>
                </div>
            </div>
        </div>

        <!-- ============================================================== -->
        <!-- fim pag direita carrinho de compras -->
        <!-- ============================================================== -->
    </div>
</div>
</div>
<!-- ============================================================== -->
<!-- end horizontal form -->
<!-- ============================================================== -->